



.wrapper_header{
    /* background-image: url('../../assets/images/Rectangle_14.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
}


    .inner_wrapper{
        background-color: #D9D9D9;
        opacity: .8;
        right: 0;
        left: 0;
        bottom: 0;
        /* height: 7rem; */
        border-top: 10px;
        padding: 10px;
        /* margin: 16px; */
    }